<!DOCTYPE html>
<html>
<head>
    <title>Wrong address</title>
</head>
<body>
    
<h1>Oops!</h1>
<h2>I cannot find the file you requested.</h2>

<h3>2023년 여름에 한국가서 할 일!</h3>
<ol>
    <li>우체국 가서 현재 가지고 있는 아이폰 이용해서 한국 전화번호 (알뜰폰) 계약하기</li>
    <li>김창옥 토크쇼 예약하고 참석하기</li>
    <li>경숙이 치과 예약하기와 경숙이와 밥먹기</li>
    <li>친정엄마와 같이 보내기 - 한글도 가르치고 복음도 전하고, 성서학당도 추천하고 등등</li>
    <li>피아노 등록하고 배우기 - 집에 가지고 있는 교재 이용하기</li>
    <li>아마존 김설아에게 연락후 만나기</li>
    <li>종미, 규미, 자경 언니 연락후 만나기</li>
    <li>11기 친구들 만나기</li>
    <li>진희, 이삭이, 내 잠옷 구입하기</li>
</ol>

</body>
</html>